<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1> English helper </h1>
        </header>
        <nav>
            {% block nav %}
            {% endblock %}
        </nav>
        <article>
            {% block article %}
            {% endblock %}
        </article>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>