{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/register.css' %}">
{% endblock %}

{% block nav %}
    <a href="{% url "index" %}">back </a>
{% endblock %}

{% block article %}
    {% if not request.user.is_authenticate %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" value="register">Register</button>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
