{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>Words List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_word.css' %}">
{% endblock %}

{% block nav %}
    <a href="{% url 'profile' request.user.pk %}">{{ request.user }}</a>
{% endblock %}

{% block article %}
    <ol>
        {% for word in object_list %}
            <li>{{ word.first }} - {{ word.second }}</li>
        {% endfor %}
    </ol>
{% endblock %}

{% block footer %}
{% endblock %}
